body {
    background-image: url(../images/background.jpg);
}

h1, p {
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
}
.heading {
    background: red;
    text-align: center;

}

.text {
    background: yellow;
    
}

.rand-hp {
    background: orange;
    height: 100px;
}

.wins-loss { 
    background: green;
    height: 100px;

}

#hp-score, #hp-result {
    background: teal;
}